body {
	background-color: white;
}
p, li, th, td, dt, dd {
	font-family: Tahoma, Arial, sans-serif;
	font-size: smaller;
}
dt {
	font-weight: 700;
}
p img {
	border-style: none;
	}
th {
	font-size: 0.75em;
	border: 1px solid black;
}
td {
	border: 1px solid black;
}

td li, li li, li li li {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 1em;
	}

td li {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 0.9em;
	}
	
h1, h2, h3, h4, h5, h6 {
	font-family: Tahoma, Arial, sans-serif;
}

h1 {
	font-size: 1.1em;
	}
	
h2 {
	font-size: 1.0em;
}

h3 {
	font-size: 0.9em;
}
h4 {
	font-size: 0.8em;
}
h5 {
	font-size: 0.7em;
}

.image { 
	font-size: 70%;
   font-family: Tahoma, Arial, sans-serif;
   font-weight: 900;
	text-align: left;
	padding-left: 2.0em; 
	margin-bottom: 2.5em;
	clear: both;
 }
.caption {
	
}

.crumbs {
 	font-size: xx-small;
 	font-weight: bold;
 	color: gray;
 }
 
.also {
	font-weight: normal;
	font-style: italic;
}
 
.centered {
	text-align: center;
}
table {
	margin: 0.5em 0;
}
.messages {
	background-color: OldLace;
}

.tooltip {
	border-bottom: 1px dotted #000000; color: #000000; outline: none;
	cursor: help; text-decoration: none;
	position: relative;
	}
.tooltip span {
	margin-left: -999em;
	position: absolute;
	}
.tooltip:hover span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; left: 1em; top: 2em; z-index: 99;
	position: absolute; left: 10em; top: -2em; z-index: 99;
	margin-left: 0; width: 250px;
	}
.tooltip:hover img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
	}
.tooltip:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	display: block; padding: 0.2em 0 0.6em 0;
	}
.classic { padding: 0.8em 1em; }
* html a:hover { background: transparent; } 
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }