body {
	background-color: white;
}
/* the font-family is changed to seriffed for print versions */
p, li, th, td {
	font-family: "Times New Roman", Times, serif;
	font-size: smaller;
}
/* the text-alignment for paragraphs is set to justify for a clean look in print versions */
p {
	text-align: justify;
}
p img {
	border-style: none;
	}
th {
	font-size: 0.75em;
	border: 1px solid black;
}
td {
	border: 1px solid black;
}

td li, li li, li li li {
	font-family: "Times New Roman", Times, serif;
	font-size: 1em;
	}

td li {
	font-family: "Times New Roman", Times, serif;
	font-size: 0.9em;
	}
	
h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", Times, serif;
}

h1 {
	font-size: 1.1em;
	}
h2 {
	font-size: 1.0em;
}
h3 {
	font-size: 0.9em;
}
h4 {
	font-size: 0.8em;
}
h5 {
	font-size: 0.7em;
}

.image div { 
	font-size: 70%;
	font-family: "Times New Roman", Times, serif;
   font-weight: 900;
	text-align: left;
	padding-left: 2.0em; 
	margin-bottom: 2.5em;
	clear: both;
}
/* the following two, duplicative rules force the images to adopt a consistent ratio of reproportionment */
img {height:85%;width:auto;}

img {height:auto;width:85%;}

/* the following rule is to be applied to images to force them NOT to reproportion */
img.small {height:auto;width:auto;}


table {
	margin: 0.5em 0;
}

.noPrint {
	display:none
	}
a {
	color: black;
	text-decoration: none;
}
.crumbs {
 	font-size: xx-small;
 	font-weight: bold;
 	color: gray;
 }
