body {
	background-color: white;
}
p, li, th, td {
	font-family: Tahoma, Arial, sans-serif;
	font-size: smaller;
}
p img {
	border-style: none;
	}
th {
	font-size: 0.75em;
	border: 1px solid black;
}
td {
	border: 1px solid black;
}

td li, li li, li li li {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 1em;
	}

td li {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 0.9em;
	}
	
h1, h2, h3, h4, h5, h6 {
	font-family: Tahoma, Arial, sans-serif;
}

h1 {
	font-size: 1.1em;
	}
	
h2 {
	font-size: 1.0em;
}

h3 {
	font-size: 0.9em;
}
h4 {
	font-size: 0.8em;
}
h5 {
	font-size: 0.7em;
}

.image { 
	font-size: 70%;
   font-family: Tahoma, Arial, sans-serif;
   font-weight: 900;
	text-align: left;
	padding-left: 2.0em; 
	margin-bottom: 2.5em;
	clear: both;
 }

table {
	margin: 0.5em 0;
}